@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    box-sizing: border-box;
    color: #0f0d0c;
    background-color: #e7eae8;
    font-family: "Noto Sans TC", sans-serif;

    .container {
        width: 100%;

        .container-full {
            display: flex;
            justify-content: space-between;

            @media (max-width: 900px) {
                flex-direction: column;
            }


            aside {
                width: 20%;
                margin: 20px;

                @media (max-width: 900px) {
                    width: 95%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }

                .ele{
                    @media (max-width: 900px) {
                        width: 150px;
                    }
                    ul{
                        list-style: none;

                        li{
                            a{
                                color: #636e72;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            section {
                width: 80%;
                @media (max-width: 900px) {
                    width: 95%;
                    margin: auto;
                }

                .container-title {
                    margin: 15px 0;
                    display: flex;
                    align-items: center;

                    h1 {
                        margin: 0 10px 0 0;
                    }
                }

                .separation {
                    width: 100%;
                    height: 5px;
                    background-color: #24262b;
                    margin-bottom: 15px;
                }

                form{
                    width: 45%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media (max-width: 900px) {
                        width: 70%;
                        margin: auto;
                    }
                    
                    p{
                        text-align: center;

                        span{
                            color: #636e72;
                        }
                    }



                    div{
                        margin-top: 0;
                    }

                    .choice-genre{
                    margin-top: 15px;
                    display: flex;
                    justify-content: center;

                        .choice{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 0px 20px;
                        }
                    }

                    .double-section-form{
                        margin-top: 25px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .double-form{
                            width: 300px;
                            margin: 0;

                            @media ( max-width: 1720px  ){
                                width: 100%;
                            }

                            input{
                                width: 100%;
                                height: 30px;
                                font-size: 15px;
                            }
                        }
                    }

                    .large-form{
                        margin-top: 25px;

                        input, select, option, button{
                            box-sizing: initial;
                            width: 100%;
                            height: 30px;
                            padding: 0;
                            font-size: 15px;
                        }

                        option{
                            font-size: 15px;
                        }
                    }

                    .send{
                        display: flex;
                        justify-content: center;
                        height: 70px;
                        margin-top: 10px;

                        button{
                            background: #24262b;
                            font-weight: bold;
                            color: #cf9f10;
                            height: 50px;
                            font-size: 25px;
                            transition: 300ms;
                            margin: auto;

                            &:hover{
                                height: 45px;
                                width: 95%;
                                margin: auto;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.is-invalid{
    border: 1px solid #E6292E
}

.error-text{
    color: #E6292E;
    font-size: 12px;
}

.r{
    label::after{
        content: "*";
        color: red;
        margin-left: 5px;
    }

}