@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0f0d0c;
    background-color: #e7eae8;
    font-family: 'Noto Sans TC', sans-serif;

    div.container {
        width: 100%;
        margin: auto;

        section.presentationArticle {
            width: 95%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 1080px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }


            @import "_presentaionImage.scss";  

            article.parcourDAchat {
                width: 49%;
                min-width: 660px;
                max-height: max-content;
                margin: 30px auto;

                @media (max-width: 1080px) {
                    width: 95%;
                    min-width: 375px;
                }

                div.blocHaut {

                    h2 {
                        text-align: center;
                        margin: 0;
                    }

                    div.catAchat {
                        display: flex;
                        justify-content: space-around;

                        div {

                            div {
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #6C6C6C;

                            }

                            p {
                                text-align: center;
                                margin: 0;
                            }
                        }
                    }
                }
                div.globalOption{
                    width: 95%;
                    margin: auto;
            
                div.containerOption {
                    width: 100%;
                    border-left: 1px solid #6C6C6C;
                    border-right: 1px solid #6C6C6C;
                    border-top: 1px solid #6C6C6C;
                    margin: auto;
                    overflow-x: hidden;


                    div.blocOption {
                        width: 300%;
                        margin: auto;
                        background-color: white;
                        // border: 1px solid #6C6C6C;
                        display: flex;
                        overflow: hidden;
                        height: auto;



                        div {
                            width: 100%;
                            height: max-content;




                            div.option {
                                border-bottom: 1px solid #6C6C6C;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                max-height: 120px;

                                div.image {
                                    width: 15%;
                                    height: 120px;

                                    img{
                                        height: 120px;
                                        width: auto;
                                        max-width: 100%;
                                    }
                                }

                                div.descriptionFormat {
                                    width: 80%;
                                    text-align: center;
                                    font-size: 14px;
                                }

                                div.checkOrNot {
                                    width: 5%;
                                    height: 50px;
                                    position: relative;

                                    figure {
                                        width: 100%;

                                        img{
                                            max-width: 100%;
                                            min-width: 100%;
                                        }
                                    }
                                }
                            }
                        }


                    }
                }
                button.sendButton{
                    box-sizing: content-box;
                    width: 100%;
                    margin: 10px 0;
                    padding: 1px;
                    height: 70px;
                    max-height: 70px;
                    background: #e84855;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    font-size: 25px;
                    color:#fff;
                    transition: all 500ms;

                    &:hover{
                        font-size: 27px;
                        box-shadow: black 0px 0px 4px;
                    }
                }
                .buttonSelect{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin: 10px auto;
                
                    button{
                        height: 50px;
                        width: 50%;
                        margin: 10px;
                        border: 1px solid #6C6C6C;

                    }
                }
            }

                div.price-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                }
            }

            article.descArticle {
                width: 90%;
                margin: auto;
                text-align: justify;
            }
        }


    }
}

figure {
    margin: 0;
}


input{
    display: none;
}

