nav {

    $style-font: 'Abril Fatface', cursive;

    $bg-color: #393638;
    $text-color: #e7eae8;
    $color-title: #cf9f10;
    $color-bgc-recherche: #949494;
    $color-border: #cf9f10;
    $color-hover-title: #bd9210;

    li {
        list-style: none;
    }

    .partOne {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $bg-color;

        a {
            text-decoration: none;
            color: $color-title;
            font-family: $style-font;
        }


        .en_tete {
            width: 350px;
            max-width: 350px;
            height: auto;
            text-align: center;
            align-items: center;
            margin-bottom: 20px;

            @media screen and (max-width: 840px) {
                width: 100%;
                display: inline-block;
                justify-content: center;
                margin: auto;
            }

            @media screen and (max-width: 1350px) {
                width: 100%;
                display: block;
                margin: auto;
            }

            #index {
                width: 300px;
                height: auto;
                color: $color-title;
                font-family: $style-font;
                font-size: 75px;
                margin: auto;
                align-items: center;

                @media screen and (max-width: 1350px) {
                    width: 100%;
                    display: block;
                    margin: auto;
                }

                &:hover {
                    color: $color-hover-title;
                }
            }

            >p {
                width: 100%;
                height: auto;
                font-family: $style-font;
                color: $text-color;
                margin: 0;
                font-size: 15px;
            }

            @media screen and (min-width: 2000px) and (min-width: 1000px) {
                width: 500px;
                display: block;
            }

            @media screen and (max-width: 1350px) {
                margin-bottom: 10px;
            }
        }

        .search {
            width: 300px;
            min-width: 250px;
            justify-content: center;
            display: flex;
            text-align: center;
            align-items: center;
            margin: 0;

            @media screen and (max-width: 840px) {
                width: 100%;
                display: block;
                justify-content: center;
                margin: auto;
                margin-top: 10px;
            }

            @media screen and (max-width: 1350px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            input {
                min-width: 100px;
                max-width: 250px;
                width: 300px;
                height: 30px;
                outline: none;
                border: 2px solid $color-border;
                background-color: $bg-color;
                color: $text-color;
                background-image: url('../img/navbar/button_search.png');
                background-repeat: no-repeat;
                background-position: 5px 2px;
                padding-left: 30px;
            }
        }

        .cap {
            min-width: 10px;
            width: 700px;
            flex: auto;
            height: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            font-family: $style-font;
            font-size: 25px;
            margin: right;
            margin-bottom: 10px;


            @media screen and (max-width: 840px) {
                width: 100%;
                margin: auto;
            }

            @media screen and (max-width: 1350px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .account {
                width: auto;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 20px 0 20px;

                @media screen and (max-width: 840px) {
                    width: 100%;
                    margin: auto;
                }

                a {
                    color: $color-title;
                    &:hover {
                        color: $text-color;
                        transform: scale(1.1);
                        transition: all 1.2;
                    }
                }
            }

            .help {
                width: auto;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 20px 0 20px;

                @media screen and (max-width: 840px) {
                    width: 100%;
                    margin: auto;
                }

                a {
                    color: $color-title;
                    &:hover {
                        color: $text-color;
                        transform: scale(1.1);
                        transition: all 1.2;
                    }
                }
            }

            .panier {
                width: auto;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 20px 0 20px;

                @media screen and (max-width: 840px) {
                    width: 100%;
                    border-bottom: none;
                    margin: auto;
                }

                a {
                    color: $color-title;
                    &:hover {
                        color: $text-color;
                        transform: scale(1.1);
                        transition: all 1.2;
                    }
                }
            }

            .select_country {
                width: 50px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding-right: 20px;
                padding-left: 10px;

                #country {
                    width: 50px;
                    height: 30px;
                    background-color: $bg-color;
                    border: 2px solid $color-border;
                    color: $text-color;
                    outline: none;
                }
            }

            @media screen and (max-width: 840px) {
                width: auto;
                margin-bottom: 5px;
            }

        }
    }



    .partTwo {
        display: flex;
        justify-content: start;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $bg-color;

        ul {
            width: 1500px;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;

            @media screen and (max-width: 840px) {
                width: 100%;
                display: inline-block;
                justify-content: center;
                padding: 0;

            }

            @media screen and (max-width: 800px) {
                display: inline-block;
            }

            @media screen and (min-width: 800px) and (max-width: 1350px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }


            li {
                text-align: center;
                min-width: 200px;
                color: $text-color;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    width: 100%;
                    justify-content: center;
                    display: block;
                    color: $text-color;

                    &:hover {
                        color: $color-title;
                    }
                }
            }
        }
    }
}