@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    box-sizing: border-box;
    color: #0f0d0c;
    background-color: #e7eae8;
    font-family: "Noto Sans TC", sans-serif;

    .container {
        width: 100%;

        .container-full {
            display: flex;
            justify-content: space-between;

            @media (max-width: 900px) {
                flex-direction: column;
            }


            aside {
                width: 20%;
                margin: 20px;

                @media (max-width: 900px) {
                    width: 95%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }

                .ele{
                    @media (max-width: 900px) {
                        width: 150px;
                    }
                    ul{
                        list-style: none;

                        li{
                            a{
                                color: #636e72;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            section {
                width: 80%;
                @media (max-width: 900px) {
                    width: 95%;
                    margin: auto;
                }

                .container-title {
                    margin: 15px 0;
                    display: flex;
                    align-items: center;

                    h1 {
                        margin: 0 10px 0 0;
                    }
                }

                .separation {
                    width: 100%;
                    height: 5px;
                    background-color: #24262b;
                    margin-bottom: 15px;
                }
            }
        }
    }
}