@import "../import/_mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,300&display=swap");


    .footer {
      background-color: #24262b;
      padding: 70px 0;
      font-family: "Poppins", sans-serif;


      .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1295px;
        margin: auto;
        padding-left: 70px;

        @media (max-width: 1550px) {
          padding: 0;
        }

        .footer-col {
          width: 25%;
          padding: 0 0;

          @include Tablet {
            width: 50%;
            margin-bottom: 30px;
          }

          @include Phone {
            width: 100%;
            text-align: center;
          }

          h4 {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
          }

          h4::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #cf9f10;
            height: 2px;
            box-sizing: border-box;
            width: 50px;

            @include Phone {
              width: 100%;
              text-align: center;
            }
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li:not(:last-child) {
              margin-bottom: 10px;
            }

            a {
              font-size: 16px;
              text-transform: capitalize;
              color: #ffffff;
              text-decoration: none;
              font-weight: 300;
              color: #bbbbbb;
              display: block;
              transition: all 0.3s ease;
            }

            a:hover {
              color: #ffffff;
              padding-left: 8px;
            }
          }
        }

        .social-links {
          a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
          }

          a:hover {
            color: #24262b;
            background-color: #ffffff;
          }
        }
      }
    }

    .lien {
      text-align: center;

      @include Phone {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      a {
        font-size: 15px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        margin: 20px;
        transition: all 0.3s ease;
      }

      a:hover {
        color: #ffffff;
      }
    }