$carousel-height: 500px;
$control-size: 50px;
a {
    color: inherit;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    box-sizing: border-box;
    color: #0f0d0c;
    background-color: #e7eae8;
    font-family: 'Noto Sans TC', sans-serif;

    .container {
        width: 100%;

        header {
            width: 100%;
            margin: auto;
            max-height: 500px;
            height: 40vw;
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
              
            figure.slides {
                position: absolute;
                top: 50%;
                left: 0;
                margin: 0;
                transform: translateY(-50%);
                display: flex;
                width: 100%;
                transition: 1s ease-in-out all;

                img {
                    min-width: 100%;
                    height: auto;
                    min-height: 100px;
                    object-fit: contain;
                }
            }

            div.controls{
                display: flex;
                position: absolute;
                top: 50%;
                left: 0;
                justify-content: space-between;
                width: 100%;
                z-index: 700;
                transition: all ease 0.5s;

                div.control{
                    margin: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.7);
                    opacity: .5;
                    transition: ease .3s;
                    cursor: pointer;

                    &:hover{
                        opacity: 1;
                    }
                }
            }

            div.link_news{
                position: absolute;
                top: 5%;
                left: 70px;
                color: black;
                background-color: grey;
                opacity: 0.7;
                padding: 20px;
                transition: all 300ms;
                border-radius: 10px;
                box-shadow: 0px 0px 10px white;
                font-size: 0.8rem;

                @media (max-width: 460px) {
                    padding: 10px;
                }

                &:hover{
                    opacity: 0.95;
                }

                a{
                    display: block;
                }

                h1, span{
                    margin: 0;
                    padding: 0;
                }
            }
        }

        section.picture {
            width: 95%;
            margin: auto;
            div.title {
                text-align: center;
            }

            @import "import/_style-img";

            a.bottom-s-img {
                display: block;
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
                font-size: 2.5em;
            }
        }

        section.quatro {
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            width: 95%;
            margin: auto;
            margin-top: 50px;


            article {
                width: 45vw;
                height: 400px;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left:auto;
                margin-right: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                background-size: cover;
                background-position: center;
                
                div{
                    background-color: gray;
                    opacity: 0.75;
                }
                h3, p, a{
                    padding: 0;
                    margin: 0;
                }

                @media (max-width: 625px) {
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}   
