$style-font: 'Abril Fatface',
cursive;

$bg-color            : #393638;
$text-color          : #e7eae8;
$color-title         : #cf9f10;
$color-bgc-recherche : #949494;
$color-border        : #cf9f10;
$color-hover-title   : #bd9210;

a {
    text-decoration: none;
    color          : $color-title;
    font-family    : $style-font;
}

body {
    width           : 100%;
    height          : 100%;
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    background-color: $bg-color;

    .container {
        width  : 100%;
        height : 100%;
        margin : 0;
        padding: 0;

        h1 {
            width          : 95%;
            height         : 100px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            flex-wrap      : wrap;
            margin         : auto;
            font-family    : $style-font;
            font-size      : 35px;
            color          : $color-title;
        }

        .bloc {
            width          : 90%;
            height         : 500px;
            display        : flex;
            justify-content: space-around;
            align-items    : center;
            margin         : auto;
            flex-wrap      : wrap;

            .connexionPage {
                width    : 700px;
                min-width: 100px;
                height   : auto;
                margin   : auto;
                margin   : 0 10px 10px 10px;
                border   : 2px solid $color-border;
                padding  : 10px;


                form {
                    width         : 100%;
                    margin        : auto;
                    display       : flex;
                    flex-direction: column;
                    color         : $color-title;

                    label {
                        width     : 90%;
                        margin-top: 10px;
                    }

                    input {
                        background-color: $text-color;
                        padding         : 10px;
                        margin          : 10px;
                        outline         : none;
                        color           : $bg-color;
                    }

                    #submit {
                        width           : 100%;
                        margin          : auto;
                        background-color: $color-title;
                        height          : 50px;
                        margin-top      : 20px;
                        color           : $bg-color;
                        font-family     : $style-font;
                        font-size       : 20px;
                    }

                    h2 {
                        border-bottom : 2px solid $color-border;
                        width         : 100%;
                        padding-bottom: 10px 0 10px 0;
                        text-align    : start;
                        margin        : auto;
                    }
                }
            }

            .createAccount {
                width          : 500px;
                min-width      : 100px;
                height         : auto;
                margin         : auto;
                padding        : 10px;
                border         : 2px solid $color-border;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;
                color          : $color-title;

                h2 {
                    border-bottom: 2px solid $color-border;
                    width        : 100%;
                }

                p {
                    text-justify: auto;
                    text-align  : center;
                    font-family : $style-font;
                }

                a {
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    width           : 97%;
                    height          : 50px;
                    background-color: $color-title;
                    color           : $bg-color;
                    font-size       : 20px;
                    font-family     : $style-font;
                }
            }

        }
    }
}