@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,300&display=swap");
$style-font: "Poppins", sans-serif;

$bg-color            : #393638;
$text-color          : #e7eae8;
$color-title         : #cf9f10;
$color-bgc-recherche : #949494;
$color-border        : #cf9f10;
$color-hover-title   : #bd9210;

body {
    width           : 100%;
    height          : 100vh;
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    background-color: $bg-color;

    .container {
        width           : 100%;
        height          : 100vh;
        margin          : auto;
        padding         : 0;
        background-color: $bg-color;

        h3 {
            width          : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            text-align     : center;
            flex-wrap      : wrap;
            font-family    : $style-font;
            color          : $color-title;
            font-size      : 35px;
            margin         : 0 auto;
            padding        : 20px;
        }

        section {
            
            width: 40%;
            margin: auto;

            p{
                width          : auto;
                height         : auto;
                display        : flex;
                justify-content: center;
                text-align     : center;
                margin         : auto;
                padding        : 10px;
                color          : $color-title;
                font-family    : $style-font;
                font-size      : 20px;
            }
        }

        // section p {
        //     width          : auto;
        //     height         : auto;
        //     display        : flex;
        //     justify-content: center;
        //     text-align     : center;
        //     margin         : auto;
        //     padding        : 10px;
        //     color          : $color-title;
        //     font-family    : $style-font;
        //     font-size      : 20px;

        // }

        .back_button {
            width          : 100%;
            margin         : auto;
            display        : flex;
            justify-content: center;
            margin-top     : 20px;

            a {
                text-decoration : none;
                color           : $color-title;
                background-color: $bg-color;
                border          : 2px solid $color-border;
                padding         : 10px;
                font-family     : $style-font;
                font-size       : 20px;
            }
        }
    }
}