@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,300&display=swap");
$style-font: "Poppins", sans-serif;

$bg-color            : #393638;
$text-color          : #e7eae8;
$color-title         : #cf9f10;
$color-bgc-recherche : #949494;
$color-border        : #cf9f10;
$color-hover-title   : #bd9210;


body {
    width     : 100%;
    height    : 100vh;
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;

    .container {
        width           : 100%;
        min-height      : 100vh;
        margin          : 0;
        padding         : 0;
        background-color: $bg-color;

        form {
            width           : 40%;
            height          : 100vh;
            margin          : auto;
            background-color: $bg-color;
            align-items     : center;

            h1 {
                width          : 100%;
                height         : auto;
                font-family    : $style-font;
                font-size      : 35px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                text-align     : center;
                flex-wrap      : wrap;
                color          : $color-title;
                margin         : auto;
                padding        : 20px
            }

            .civilite {
                width          : 50%;
                min-width      : 210px;
                height         : 50px;
                margin         : auto;
                display        : flex;
                justify-content: space-evenly;
                flex-wrap      : wrap;
                align-items    : center;
                font-family    : $style-font;
                color          : $color-title;

                label {
                    width    : auto;
                    font-size: 20px;
                }

                input {
                    cursor: pointer;
                }
            }

            .champs {
                width          : 100%;
                height         : auto;
                margin         : auto;
                display        : inline;
                justify-content: center;
                flex-wrap      : wrap;

                label {
                    width          : 90%;
                    height         : 20px;
                    display        : flex;
                    justify-content: start;
                    color          : $color-title;
                    font-family    : $style-font;
                    font-size      : 18px;
                    margin         : auto;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                }

                input {
                    width          : 90%;
                    height         : 30px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    flex-wrap      : wrap;
                    padding        : 0;
                    margin         : auto;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                    text-align     : left;
                    border         : 2px solid $color-border;
                    outline        : none;
                }
            }

            .list {
                width          : 100%;
                height         : auto;
                margin         : auto;
                display        : inline;
                justify-content: center;
                flex-wrap      : wrap;

                label {
                    width          : 90%;
                    height         : 20px;
                    display        : flex;
                    justify-content: start;
                    color          : $color-title;
                    font-family    : $style-font;
                    font-size      : 18px;
                    margin         : auto;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                }

                select {
                    width          : 90%;
                    height         : 30px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    flex-wrap      : wrap;
                    padding        : 0;
                    margin         : auto;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                    text-align     : left;
                    outline        : none;
                    border         : 2px solid $color-border;
                }
            }

            .message {
                width          : 100%;
                height         : auto;
                margin         : auto;
                display        : inline;
                justify-content: center;
                flex-wrap      : wrap;

                label {
                    width          : 90%;
                    height         : 20px;
                    display        : flex;
                    justify-content: start;
                    color          : $color-title;
                    font-family    : $style-font;
                    font-size      : 18px;
                    margin         : auto;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                }

                textarea {
                    width          : 90%;
                    height         : 50px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    flex-wrap      : wrap;
                    padding        : 0;
                    margin         : auto;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                    text-align     : left;
                    outline        : none;
                    border         : 2px solid $color-border;
                }
            }

            .submit {
                width          : 100%;
                height         : auto;
                margin         : auto;
                display        : inline;
                justify-content: center;
                flex-wrap      : wrap;

                a {
                    text-decoration: none;
                    color          : inherit;
                }

                button {
                    width          : auto;
                    min-width      : 100px;
                    height         : 40px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    flex-wrap      : wrap;
                    padding        : 0;
                    margin         : auto;
                    margin-top     : 40px;
                    margin-bottom  : 10px;
                    text-align     : center;
                    outline        : none;
                    border         : 2px solid $color-border;
                    cursor         : pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}